<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Hier ist der Mitarbeiter-Login</button>
</form>

<div class="container">
    <h1>404 </h1>
    <img src="https://www.coengoedegebure.com/assets/images/404.png" width="50%"><br><br>
   <h3><a href="/">Zurück</a></h3>
</div>

</body>
</html>