<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:include="admin/header::head"></head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#"><span th:utext="${userName}"></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Projekt anlegen
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Projekte
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Projektübersicht</a>
                            <a th:href="@{/admin/createProject}" method="get" class="dropdown-item" href="#">Projekt anlegen</a>
                            <a class="dropdown-item" href="#">Aufgabe anlegen</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mitarbeiter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Mitarbeiterübersicht</a>
                            <a class="dropdown-item" href="#">Projekt einem Mitarbeiter zuweisen</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="get">
                        <button class="btn btn-md btn-danger btn-block" name="registration"
                                type="Submit">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/admin/createTask}"
                  th:object="${aufgabe}" method="post" class="form-horizontal"
                  role="form">
                <h2>Aufgabe Anlegen</h2>

                <div class="form-group">
                    <div class="col-sm-9">

                        <input type="text" th:field="*{aufgabe}"
                               placeholder="Bezeichnung" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">

                        <input type="text" th:field="*{aufwand}"
                               placeholder="Budget" class="form-control"/>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Anlegen</button>
                    </div>
                </div>

                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>


            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>