<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light static-top" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#"><span th:utext="${userName}"></span></a>
        <button class="navbar-toggler btn btn-info" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a th:href="@{/admin/home}" method="get" class="nav-link" href="#">Home
                    </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown" style="margin-left: 15px !important">
                        <button class="btn btn-secondary dropdown-toggle btn btn-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Projekte
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                            <a th:href="@{/admin/showProject}" method="get"class="dropdown-item" href="#">Projektübersicht</a>
                            <a th:href="@{/admin/createProject}" method="get" class="dropdown-item" href="#">Projekt anlegen</a>
                            <a th:href="@{/admin/showTask}" method="get"class="dropdown-item" href="#">Aufgabenübersicht</a>
                            <a th:href="@{/admin/createTask}" method="get" class="dropdown-item" href="#">Aufgabe anlegen</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <div class="dropdown" style="margin-left: 15px !important">
                        <button class="btn btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mitarbeiter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a th:href="@{/admin/tasktouser}" method="get"class="dropdown-item" href="#">Aufgabe einem Mitarbeiter zuweisen</a>
                        </div>
                    </div>
                </li>
                </li>
                <li class="nav-item">
                    <div class="dropdown" style="margin-left: 15px !important">
                        <button class="btn btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kunden
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a th:href="@{/admin/showCustomers}" method="get" class="dropdown-item" href="#">Kundenübersicht</a>
                            <a th:href="@{/admin/createCustomer}" method="get" class="dropdown-item" href="#">Kunden anlegen</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" style="margin-left: 15px !important">
                    <form th:action="@{/logout}" method="get">
                        <button class="btn btn-md btn-danger btn-block" name="registration"
                                type="Submit">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

</html>