<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:include="admin/header::head"></head>

<body>

<nav th:replace="admin/navigation::navigation"></nav>

<div th:switch="${customers}" class="container my-5">
    <div class="col-md-10">
        <h3>Kundenübersicht</h3>
        <h2 th:case="null">Keine Kunden gefunden !!</h2>
        <div th:case="*">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Kundenname:</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.kundenname}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</div>
<!-- Footer -->
<nav th:replace="footer::footer"></nav>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>