<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer"  class="py-4 bg-dark text-white-50">
    <div class="container text-center">
         <a href="https://mygit.th-deg.de/kb25560/ss20_pms_projektverwaltung_bsw">
             <button type="button" class="btn btn-secondary">GITHUB Projekt</button>
    </a>
        <a href="https://www.th-deg.de/">
            <button type="button" class="btn btn-secondary">THD</button>
        </a>
    </div>
</footer>
</body>
</html>