<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mitarbeiter-Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
    <div class="card card-container">

        <img id="profile-img" class="profile-img-card" src="https://i.ibb.co/5FZhN4k/thd-pms-kb.png" />
        <h5 class="card-title">Mitarbeiter-Login</h5>

        <form class="form-signin" th:action="@{/login}" method="POST">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="user_name" name="user_name" class="form-control" placeholder="mitarbeiter-id" required autofocus>
            <input type="password" th:placeholder="password" id="password" name="password"  class="form-control"required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" name="Submit" value="Login" type="Submit" th:text="Login"></button>
        </form>
        <a href="#" class="forgot-password">
            <form th:action="@{/registration}" method="get">


                <button class="btn btn-light" type="Submit">Noch nicht Regisitriert?</button>

            </form>
        </a>
        <div class="alert alert-block"  th:if="${param.error}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Fehler</h4>
            Mitarbeiter-ID oder Passwort falsch.
        </div>

    </div>
</div>

</div>
</body>
</html>