<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mitarbeiter-Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-success btn-block" type="Submit">Melde mich an!</button>
</form>

<div class="container">
    <div class="flex-container">
       <div class="flex-item">
           <img th:src="@{/images/login.png}" class="img-responsive center-block" width="200" height="200" alt="Logo"/>
           <form th:action="@{/login}" method="POST" class="form-signin">
               <h3 class="form-signin-heading" th:text="Anmelden"></h3>
               <br/>

               <input type="text" id="user_name" name="user_name" placeholder="Mitarbeiter-ID"
                      class="form-control"/> <br/>
               <input type="password" th:placeholder="password"
                      id="password" name="password" class="form-control"/> <br/>

               <div align="center" th:if="${param.error}">
                   <p style="font-size: 20; color: #FF1C19;">Mitarbeiter-ID oder Passwort falsch</p>
               </div>
               <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                       th:text="Login"></button>
           </form>
       </div>
    </div>

</div>
</body>
</html>